<p style="color: yellow"><%= notice %></p>

<section class="todoapp">
  
  <header class="header">
    <%= render "form", task: @task || Task.new %>
  </header>

  <div>

  <ul class="todo-list">
      <% @overdue_tasks.each do |overdue_task| %>
        <% if @overdue_tasks.length == 0 %>
          <%= render nil  %>
        <% else %>
          <h2>overdue:</h2>
          <%= render overdue_task %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div>
  <h2>today:</h2>
  <ul class="todo-list">
      <% @todays_tasks.each do |task| %>
        <%= render task %>
      <% end %>
    </ul>
  </div>

  <div>
  <h2>tomorrow:</h2>
  <ul class="todo-list">
      <% @tomorrows_tasks.each do |task| %>
        <%= render task %>
      <% end %>
    </ul>
  </div>

  <div>
  <h2>at a later date:</h2>
  <ul class="todo-list">
      <% @later_tasks.each do |task| %>
        <%= render task %>
      <% end %>
    </ul>
  </div>


</section>